.btn {
  border-radius: 30px;
  font-weight: bold;
  padding: 12px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: $dark;
  max-width: 200px; /* Caps the width */
  transition: all 0.3s ease;

  &:hover {
    color: $dark;
    transform: translateY(-2px);
    background-color: darken($tertiary, 10%);
  }

  &.active {
    background-color: $tertiary;
    color: $dark;
  }
}

.btn-primary {
  background-color: $tertiary;
}

.btn-secondary {
  color: $light;
  background-color: $secondary;
}

.btn-icon {
  color: $light;
  box-shadow: none;
  border-color: none;

  &.active {
    background-color: transparent;
    color: $tertiary;
    border-color: transparent;
  }
}

.navigation-controls {
  .btn {
    min-width: 120px;
  }
}