.card {
  background-color: $secondary;

  &:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    transform: translateY(-5px);
    background-color: lighten($secondary, 15%);
  }
}

.card-img-top {
  aspect-ratio: 460 / 215;
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}