.progress-indicator {
    padding: 20px 0;
    
    .step {
      text-align: center;
      position: relative;
      flex: 1;
      
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 20px;
        right: -50%;
        width: 100%;
        height: 2px;
        background-color: #6c757d;
        z-index: 1;
      }
      
      &.active:not(:last-child)::after {
        background-color: $tertiary;
      }
      
      .step-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: darken($secondary, 10%);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10px;
        position: relative;
        z-index: 2;
      }
      
      &.active {
        .step-circle {
          background-color: $tertiary;
          color: $dark;
        }
        
        .step-label {
          color: $light;
          font-weight: 500;
        }
      }
      
      .step-label {
        font-size: 0.875rem;
        color: #6c757d;
      }
    }
  }
  
  .analysis-sections {
    .section {
      display: none;
      
      &.active {
        display: block;
      }
    }
  } 